.heading {
  text-align: center;
  font-size: 60px;
  color: var(--main);
  font-weight: 500;
  text-transform: capitalize;
  padding-bottom: 30px;
  border-bottom: 1px solid #e4e4e4;
}

/* Define your custom breakpoints */
/* Small screens (mobile phones) */
@media only screen and (max-width: 600px) {
  .heading {
    font-size: 28px;
    padding-bottom: 14px;
    font-weight: 600;
  }
}

/* Medium screens (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .heading {
    font-size: 40px;
    padding-bottom: 20px;
  }
}

/* Large screens (desktops) */
@media only screen and (min-width: 1025px) {
}
