@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap");

:root {
  --main: #1c1c1c;
  --primary: "#17C550";
  --secondary: "#032D2C";
  --text: "#494949";
  --white: "#ffffff";
  --subtext: "#777";
}

body {
  font-family: "DM Sans", sans-serif;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

/* sign up page bg  class */
.signup-bg {
  background-image: url("https://i.ibb.co/1ssfB7C/Frame-1000010026.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
